# Estudo do Mercado Financeiro (Bancos) - Este notebook utiliza a biblioteca pandas para facilitar um calculo de razao

### Site:       https://filipedeabreu.com

### Autor:      Filipe de Abreu

### Manutenção:  Filipe de Abreu

<hr>

# Testado em
### OS: Windows 11                                      
### Versão do python: 3.12.7    

## OBS: Se tratando de dados da bolsa de valores, os valores extraidos podem variar dependendo da data em que forem consultados

In [5]:
import pandas as pd

## 1. Numa razao de 1:400 (metro / cm)

In [8]:
df_escala = pd.DataFrame(
    {
        'Mapa':range(1,15)
    }
)

df_escala['Cm'] = df_escala['Mapa'] * 400
df_escala['Metros'] = (df_escala['Cm'] / 100).astype('int')
df_escala['Metros'] = df_escala['Metros'].astype('str') + 'm'
df_escala['Cm'] = df_escala['Cm'].astype('str') + 'cm'
df_escala

    Mapa      Cm Metros
0      1   400cm     4m
1      2   800cm     8m
2      3  1200cm    12m
3      4  1600cm    16m
4      5  2000cm    20m
5      6  2400cm    24m
6      7  2800cm    28m
7      8  3200cm    32m
8      9  3600cm    36m
9     10  4000cm    40m
10    11  4400cm    44m
11    12  4800cm    48m
12    13  5200cm    52m
13    14  5600cm    56m