In [1]:
import pandas as pd
from pegar_historico import pegar_historico

In [9]:
#Pegando os valores de btc brl
par = "BTCBRL"
intervalo = "1d"
data_inicio = "1 Jun 2025"

df_btcbrl = pegar_historico(
        par,
        intervalo,
        data_inicio
    )

cols = ['timestamp', 'open', 'high', 'low', 'close']

ticker  = []

for i in range(0, len(df_btcbrl)):
    ticker.append('BTC')
    
df_btcbrl = df_btcbrl[cols]
df_btcbrl['coin'] = ticker
df_btcbrl.head(5)

   timestamp      open      high       low     close coin
0 2025-06-01  603764.0  608849.0  599500.0  607472.0  BTC
1 2025-06-02  607601.0  609322.0  592144.0  602926.0  BTC
2 2025-06-03  602983.0  606034.0  596533.0  597481.0  BTC
3 2025-06-04  597479.0  600910.0  589040.0  592932.0  BTC
4 2025-06-05  592931.0  596717.0  563594.0  570836.0  BTC

In [11]:
#Pegando os valores de btc brl
par = "SOLBRL"
intervalo = "1d"
data_inicio = "1 Jun 2025"

df_solbrl = pegar_historico(
        par,
        intervalo,
        data_inicio
    )

cols = ['timestamp', 'open', 'high', 'low', 'close']

ticker  = []

for i in range(0, len(df_solbrl)):
    ticker.append('SOLANA')
    
df_solbrl = df_solbrl[cols]
df_solbrl['coin'] = ticker
df_solbrl.head(5)

   timestamp   open   high    low  close    coin
0 2025-06-01  903.4  909.4  870.0  906.8  SOLANA
1 2025-06-02  906.9  914.2  865.3  893.3  SOLANA
2 2025-06-03  892.7  928.0  874.0  880.0  SOLANA
3 2025-06-04  880.0  894.8  866.3  867.6  SOLANA
4 2025-06-05  867.8  876.0  795.0  811.2  SOLANA

In [23]:
coinsdf = pd.concat([
    df_btcbrl,
    df_solbrl]
)

In [31]:
coinsdf.groupby('coin').max()

        timestamp      open      high       low     close
coin
BTC    2025-06-25  615933.0  618000.0  600501.0  615725.0
SOLANA 2025-06-25     920.6     935.6     884.3     920.8